/* Globals ( 폰트 설정 영문 Roboto 한글 Noto Sans KR ) */
@mixin font-face($fontName, $weight, $style: normal) {
  @font-face {
    font-family: $fontName;
    font-weight: $weight;
    font-style: $style;
    src: url("../fonts/Pretendard-#{$fontName}.woff2");
    src: local("#{$fontName}"),
      url("../fonts/Pretendard-#{$fontName}.woff2") format("woff2"),
      url("../fonts/Pretendard-#{$fontName}.woff") format("woff"),
      url("../fonts/Pretendard-#{$fontName}.woff") format("opentype");
    /* 안티알리아싱 적용 */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}

@mixin text-ellipsis($space, $textOverflow, $overflow) {
  white-space: $space;
  text-overflow: $textOverflow;
  overflow: $overflow;
}

@mixin scrollbar($height: 10px, $background: #eee, $borderRadius: 15px) {
  &::-webkit-scrollbar {
    width: $height;
    height: $height;
  }
  &::-webkit-scrollbar-track {
    background: $background;
    border-radius: $borderRadius;
  }
  &::-webkit-scrollbar-thumb {
    background: #ccc;
    border-radius: $borderRadius;
  }
}
