:root {
  --basic-size: 62.5%; // 10px

  --main-color: #f285b8;
  --basic-primary-color: #1976d2;
  --basic-secondary-color: #9c27b0;
  --basic-success-color: #2e7d32;
  --basic-warning-color: #ed6c02;
  --basic-error-color: #d32f2f;
  --basic-info-color: #edd602;
  --basic-disabled-color: #ebebeb;
  --basic-enable-color: #636363;
  --custom-purple-color: #7d5fff;
  --custom-liteBlue-color: #8eb0e5;
  --custom-blue-color: #4791db;
  --custom-darkBeige-color: #c8a87d;
  --custom-frenchRose-color: #f4c2c2;
  --custom-frenchBlue-color: #a0d8e3;
  --custom-lavenderBlue-color: #e0f1ff;
  --custom-aliceblue-color: #f0f8ff;
  --custom-frenchProblem-color: #b5ead7;
  --custom-frenchHead-color: #ffddae;
  --custom-frenchPurple-color: #d6a2e8;

  --white-color-100: #fff;
  --white-color-200: #f7f7f7;
  --white-color-300: #f4f4f4;
  --white-color-400: #ddd;
  --white-color-500: #c2c2c2;
  --white-color-600: #b5b5b5;
  --white-color-700: #9e9e9e;
  --white-color-800: #757575;
  --white-color-900: #616161;
  --white-color-950: #4f4d4e;
  --white-color-1000: #212121;

  --font-name: "Pretendard";
  --font-size-title: 4rem;
  --font-size-large: 2.8rem;
  --font-size-medium: 2.2rem;
  --font-size-small: 2rem;
  --font-size-primary: 1.6rem;
}
